<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964796347193-a3am9l0vd1mqkpcqhutgddqko0q1tj7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964796347193-a3am9l0vd1mqkpcqhutgddqko0q1tj7j</string>
	<key>API_KEY</key>
	<string>AIzaSyCH-hh1_affT0L5Q6vUWy6vyiWW6cGsflI</string>
	<key>GCM_SENDER_ID</key>
	<string>964796347193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.futquiz</string>
	<key>PROJECT_ID</key>
	<string>futquiz-261d5</string>
	<key>STORAGE_BUCKET</key>
	<string>futquiz-261d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964796347193:ios:d5ecf88d45b88c91102ee8</string>
</dict>
</plist>